<!-- Page Header -->
<!-- Set your background image for this header on the line below. -->
<header class="intro-header" style="background-image: url('/public/images/home-bg.jpg')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading">
                    <h1><%=title%></h1>
                    <hr class="large">
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Main Content -->
<div class="container" ng-controller="indexCtrl">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1" >
            <div ng-repeat="item in blogUrllist.data">
              <div class="post-preview" >
                  <a href="/{{ item.usr_path }}" target="_self">
                      <h2 class="post-title">
                          blog.hyunlee.co.kr/{{ item.usr_path }}
                      </h2>
                  </a>
                  <p class="post-meta">bloger: <a href="#">{{ item.usr_email }}</a></p>
              </div>
              <hr>
            </div>
            <!-- Pager -->
            <ul class="pager">
            </ul>
        </div>
    </div>
</div>

<hr>
