<!-- Page Header -->
<!-- Set your background image for this header on the line below. -->
<header class="intro-header" style="background-image: url('/public/images/home-bg.jpg')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading">
                    <h1><%=title%></h1>
                    <hr class="large">
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Main Content -->
<div class="container" >
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1" ng-controller="postCtrl">
              <div class="post-preview" >
                  <a href="http://blog.hyunlee.co.kr/lhwda1388" target="_self">
                      <h2 class="post-title">
                          blog.hyunlee.co.kr/lhwda1388
                      </h2>
                  </a>
                  <p class="post-meta">bloger: <a href="#">lhwda1388@gmail.com</a></p>
              </div>
              <hr>
            <!-- Pager -->
            <ul class="pager">
            </ul>
        </div>
    </div>
</div>

<hr>
