<!-- Page Header -->
<!-- Set your background image for this header on the line below. -->
<header class="intro-header" style="background-image: url('/public/images/home-bg.jpg')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading">
                    <h1>HlBlog</h1>
                    <hr class="small">
                    <span class="subheading">A HlBlog</span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Main Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-10 body_scroll" ng-controller="postCtrl">
            <div ng-repeat="item in postlist.data">
              <div class="post-preview">

                  <h2 class="post-title">
                      {{ item.title }} 
                  </h2>
				  <br /><br /><br />				    
                  <div class="post-subtitle" ng-bind-html="item.content | renderHtml">
                  </div>
				  <br /><br /><br />	
                  <p class="post-meta">Posted by <a href="#">{{ item.usr_email }}</a> on {{ convertDate( item.reg_dt ) }}</p>

              </div>
              <a class="btn btn-primary" href="/<%=defaultPath%>/{{ item.post_no }}">Read More <span class="glyphicon glyphicon-chevron-right"></span></a>
              <% if(users){ %>
                <% if(defaultPath == users.usr_path || users.auth == 'A'){ %>
                <a class="btn btn-success" href="/<%=defaultPath%>/{{ item.post_no }}/modify">Modify<span class="glyphicon glyphicon-chevron-right"></span></a>
                <a class="btn btn-danger" href="javascript:void(0)" ng-click="postDelete(item.post_no)">Delete<span class="glyphicon glyphicon-chevron-right"></span></a>
                <% } %>
              <% } %>
              <hr>
            </div>

            <!-- Pager -->
            <ul class="pager">

            </ul>
        </div>
        <% include layout/right.ejs %>

    </div>
</div>

<hr>
