
<!-- Page Header -->
<!-- Set your background image for this header on the line below. -->
<div ng-controller="postDetailCtrl">
  <header class="intro-header" style="background-image: url('/public/images/post-bg.jpg')">
      <div class="container">
          <div class="row">
              <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                  <div class="post-heading">
                      <h1 ng-bind="post_title"></h1>
                      <h2 class="subheading" ng-bind="usr_path"></h2>
                      <span class="meta">Posted by <a href="#" ng-bind="usr_email"></a> on {{ convertDate(reg_dt)}} </span>
                  </div>
              </div>
          </div>
      </div>
  </header>

  <!-- Post Content -->
  <article>
      <div class="container">
          <div class="row">
              <div class="col-lg-8 col-md-10 body_scroll" >
				 <div ng-bind-html="content | renderHtml"></div>
                  <!-- Blog Comments -->

                  <!-- Comments Form -->
                  <div class="well">
                      <h4>Leave a Comment:</h4>
                      <form role="form" name="reply_form">
                          <div class="form-group">
                              <textarea class="form-control" rows="3" name="reply_content"></textarea>
                          </div>
                          <button type="button" class="btn btn-primary" ng-click="goReply()">Submit</button>
                      </form>
                  </div>

                  <hr>

                  <!-- Posted Comments -->

                  <!-- Comment -->
				  <div class="media" ng-repeat="item in replyList.data">
					  <a class="pull-left" href="#">
						  <img class="media-object" src="http://placehold.it/64x64" alt="">
					  </a>
					  <div class="media-body">
						  <h4 class="media-heading">{{ usr_email }}
							  <small>{{ convertDate(item.reg_dt) }}</small>
						  </h4>
						  {{ item.content }}
					  </div>
				  </div>

              </div>
              <% include layout/right.ejs %>

          </div>
      </div>
  </article>
</div>

<hr>
