<!DOCTYPE html>
<html lang="ko">

    <% include ./head.ejs %>

<body>
    <% include ./nav.ejs %>
    <%- include(body) %>
  
    <% include ./footer.ejs %>

    <% include ./script.ejs %>
</body>

</html>
