<!DOCTYPE html>
<html lang="ko">
  <% include ./head.ejs %>
<body ng-app="blogApp" data-defaultPath="<%=defaultPath%>">
    <% include ./nav.ejs %>
    
	<%- include(body) %>
	
    <% include ./footer.ejs %>

    <% include ./script.ejs %>
</body>

</html>
